/*============================
    General CSS Starts Here   
=============================*/
    *,
    *:focus,
    input:focus,
    textarea:focus,
    form-control:focus {
        /*outline: 0px auto -webkit-focus-ring-color;*/
    }

    :focus {
        outline: -webkit-focus-ring-color auto 0px;
    }

    button:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
    }

    [type=submit],
    button,
    html [type=button] {
        -webkit-appearance: none;
    }

    @media(min-width: 2560px) {
        body {
            font-size: 18px;
        }
        .my_container {
            max-width: 2293.3px;
            max-width: 1720px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1920px) {
        body {
            font-size: 16px;
        }
        .my_container {
            max-width: 1720px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1919px) {
        body {
            font-size: 14px;
        }
        .my_container {
            max-width: 1361.67px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1440px) {
        body {
            font-size: 13px;
        }
        .my_container {
            max-width: 1290px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1366px) {
        body {
            font-size: 13px;
        }
        .my_container {
            max-width: 1223.708px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1280px) {
        body {
            font-size: 12px;
        }
        .my_container {
            max-width: 1146.67px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1194px) {
        body {
            font-size: 10px;
        }
        .my_container {
            max-width: 1069.625px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 834px) {
        body {
            font-size: 11.5px;
        }
        .my_container {
            max-width: 747.125px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 767px) {
        body {
            font-size: 10px;
        }
    }

    body {
        position: relative;
        color: #333333;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .PlayfairDisplay {
        font-family: 'PlayfairDisplay', serif;
    }

    .img-circle {
        border-radius: 100%;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 5px;
    }

    .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 0.375em;
        height: 0.375em;
        display: inline-block;
        border-radius: 100%;
        opacity: 1;
        transition: 0.3s ease;
        background: #ffffff;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        height: 0.375em;
        width: 9.563em;
        border-radius: 10px;
        transition: 0.3s ease;
        background: #ffffff;
    }

    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -10px;
        margin-bottom: 5px;
    }

    .fixedheader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    body .white {
        color: #ffffff;
    }

    .btn.focus, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
    }
/*============================
    General CSS Ends Here    
============================*/

/*============================
    Desktop CSS Starts Here   
=============================*/
    /*============================
        Header CSS Starts Here   
    =============================*/
        .menu {
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            padding: 0;
        }
        
        .line {
            fill: none;
            stroke: #9C7B52;
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }
        
        .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
        }
        
        .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }
        
        .opened .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }
        
        .opened .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
        }

        .opened .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }

        header {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            box-shadow: 0px 3px 6px #0000001c;
            max-width: 74%;
            margin-right: 0;
            margin-left: auto;
            border-bottom-left-radius: 100px;
            background: #ffffff;
            z-index: 9;
        }

        header .navbar-expand-lg .navbar-nav .nav-link {
            padding: 0;
            color: #333333;
            font-size: 1.125em;
            margin: 0 1.5em;
            transition: 0.3s ease;
        }

        header .navbar-expand-lg .navbar-nav .nav-link:hover {
            color: #9C7B52;
            transition: 0.3s ease;
        }

        header .navbar-expand-lg .navbar-nav .phoneNumber .nav-link {
            color: #F0F0F0;
            display: inline-block;
            padding: 0.5em 1em;
        }

        header .navbar {
            padding: 1.5em 0em;
            margin-right: 3.750em;
        }

        .scrolltosection2 a {
            color: #ffffff;
            margin-top: 1.250em;
            display: inline-block;
            font-size: 1.5em;
        }

        .section2 {
            padding: 7.750em 0;
            position: relative;
        }

        .section2:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 14.61%;
            height: 100%;
            background: #9C7B52;
            z-index: -1;
        }

        .section2banner {
            text-align: right;
        }

        .page_subtitle {
            color: #D2A951;
            font-size: 1.250em;
            text-transform: uppercase;
            letter-spacing: 6px;
        }

        .page_title {
            font-size: 2.813em;
            font-family: 'PlayfairDisplay', serif;
            line-height: 1.333em;
        }

        .section2 .page_title {
            max-width: 80%;
            width: 100%;
        }

        .section2_byline {
            font-family: 'PlayfairDisplay', serif;
            font-size: 1.875em;
            margin: 0.5em 0;
        }

        .section2_desc {
            font-size: 1.125em;
            font-weight: 400;
            line-height: 1.556em;
            margin: 1em 0;
        }

        .panoramic_view_slider {
            padding: 2.5em 0;
        }

        .mobile_sticky_box {
            display: none;
        }
    /*============================
        Header CSS Ends Here   
    =============================*/

    /*============================
        Body CSS Starts Here   
    =============================*/
        .section1 {
            background: #E0F2F2;
            padding: 1.875em 0;
        }

        .logo {
            margin-bottom: 3.125em;
        }

        .logo img {
            max-width: 8.938em;
            width: 100%;
            margin: 0 auto;
        }

        .top_banner img {
            max-width: 60.000em;
            width: 100%;
            margin: 0 auto;
        }

        .banner_details {
            text-align: center;
        }

        .banner_title {
            color: #9C7B52;
            font-family: 'PlayfairDisplay', serif;
        }

        .bannertitleline1 {
            font-size: 1.750em;
            letter-spacing: 0.56px;
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            margin-top: 1em;
            margin-top: 0;
        }

        .bannertitleline1:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -35%;
            width: 1.875em;
            height: 1px;
            background: #9c7b52;
        }

        .bannertitleline1:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -35%;
            width: 1.875em;
            height: 1px;
            background: #9c7b52;
        }

        .bannertitleline2 {
            font-size: 4.063em;
            letter-spacing: 2.72px;
            line-height: 1.324em;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.147em;
            margin-bottom: 0.25em;
        }

        .bannertitleline3 {
            font-size: 1.750em;
            letter-spacing: 2.72px;
            line-height: 1.324em;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.147em;
            margin-bottom: 1.75em;
        }

        .banner_desc {
            color: #333333;
            font-size: 1.750em;
            line-height: 1.786em;
            letter-spacing: 1.28px;
            position: relative;
            padding: 0.688em 0;
        }

        .banner_desc:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 90%;
            height: 2px;
            background: url(../images/goldenline.svg);
            display: block;
            transform: translateX(-50%);
            background-position: center;
            /*background-size: contain;*/
            background-repeat: no-repeat;
        }

        .banner_desc:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 90%;
            height: 2px;
            background: url(../images/goldenline.png);
            display: block;
            transform: translateX(-50%);
            background-position: center;
            /*background-size: contain;*/
            background-repeat: no-repeat;
        }

        .banner_address {
            font-size: 2.5em;
            line-height: 1.563em;
            letter-spacing: 1.28px;
            margin-top: 1em;
            color: #9C7B52;
            font-family: 'PlayfairDisplay', serif;
            font-weight: 700;
            text-transform: uppercase;
        }

        .section2_flattype {
            color: #D2A951;
            font-size: 1.250em;
            text-decoration: underline;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 0.5em 0;
        }

        .section3 {
            padding: 8.500em 0 0 0;
            text-align: center;
            position: relative;
        }

        .section3:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: #E0F2F2;
            width: 100%;
            height: 61%;
            z-index: -1;
        }

        .swiper-pagination-bullet-active {
            width: 0.375em;
            height: 9.563em;
        }

        .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 0px;
            direction: ltr;
            -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
            bottom: 50%;
            transform: translateY(50%);
            margin-left: 2.750em;
        }

        .section4 {
            padding: 5.000em 0 8.125em;
        }

        .project_walkthrough_video {
            margin-top: 2.875em;
        }

        .videocover {
            position: relative;
        }

        .playicon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: inline-block;
            z-index: 2;
            cursor: pointer;
            max-width: 8.625em;
        }

        .project_walkthrough_video iframe {
            width: 100%;
            height: 48.438em;
            display: none;
        }

        .section5 {
            position: relative;
            padding: 1.50em 0;
        }

        .section5:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            max-width: 50.5%;
            width: 100%;
            height: 100%;
            background: #9C7B52;
            display: block;
        }

        .amenities_img_box {
            position: relative;
        }

        .amenities_img {
            padding-top: 4.219em;
        }

        .amenities_img_icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .amenities_img_icon img {
            max-width: 8.438em;
        }

        .section5_desc {
            font-size: 1.250em;
            line-height: 1.7em;
            margin-top: 2.5em;
            max-width: 80%;
            width: 100%;
            font-weight: 400;
        }

        .amenities_name {
            text-align: center;
            font-size: 1.750em;
            margin-top: 1em;
            text-transform: uppercase;
        }

        .section6 {
            margin: 6.250em 0;
            padding: 4.375em 0 2.750em;
            background: url(../images/parallax.jpg);
            background-attachment: fixed;
            background-position: center;
        }

        .floor_plan {
            text-align: center;
            position: relative;
            /*height: 53.125em;*/
        }

        .download_floorplan_cta {
            text-align: center;
            padding-bottom: 2.125em;
        }

        .floor_plan_details {
            display: inline-block;
            position: relative;
            margin: 1.688em 0 2.125em;
        }

        .rera_number {
            position: absolute;
            left: 0;
            top: 0;
            color: #D2A951;
            font-size: 1.325em;
            padding-top: 1em;
            padding-left: 1em;
            line-height: 1;
        }

        .download_floor_plan {
            position: absolute;
            right: 0;
            top: 0;
            background: #9c7b52;
            padding: 1.125em;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .download_floor_plan img {
            max-width: 2.625em;
        }

        .floor_plan_img {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 6px 12px #00000029;
        }

        .floor_plan_img img {
            max-width: 78.188em;
            width: 100%;
        }

        .floor_disclaimer {
            color: #2C343C;
            font-size: 0.750em;
            line-height: 1.500em;
            max-width: 75%;
            width: 100%;
            margin: 0 auto;
        }

        .section7 {
            padding: 1.250em 0 5.813em;
        }

        .section7_desc {
            font-size: 1.250em;
            line-height: 1.7em;
            margin: 1em 0 1.5em;
        }

        .locationimg img {
            max-width: 54.875em;
            width: 100%;
        }

        .viewgooglemaps {
            text-align: left;
            margin: 2.500em 0 0.875em;
        }

        .viewgooglemaps a {
            font-size: 1.250em;
            color: #9C7B52;
            font-weight: 400;
            text-decoration: underline;
            transition: 0.3s ease;
        }

        .viewgooglemaps a:hover {
            color: #333333;
            transition: 0.3s ease;
        }

        #locationmain {
            /*margin: 50px 0;*/
        }

        #locationmain #location .card {
            margin-bottom: 2.4em;
            border: 0;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 0;
        }

        #locationmain #location .card:last-child {
            margin-bottom: 0;
        }

        #locationmain #location .card .card-header {
            border: 0;
            -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
            box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
            border-radius: 0px;
            padding: 0;
        }

        #locationmain #location .card .card-header .btn-header-link.collapsed:hover,
        #locationmain #location .card .card-header .btn-header-link {
            color: #fff;
            display: flex;
            text-align: left;
            background: #9C7B52;
            padding: 8px 1.923em;
            font-size: 1.625em;
            position: relative;
            white-space: normal;
            line-height: 3.462em;
            height: 3.462em;
            align-items: center;
            line-height: 1.385em;
            justify-content: space-between;
            border-radius: 0;
            transition: 0.3s ease;
        }

        #locationmain #location .card .card-header .btn-header-link:after {
            content: "-";
            /*font-family: 'FontAwesome';*/
            /*font-weight: 900;*/
            float: none;
            font-size: 1.5em;
        }

        #locationmain #location .card .card-header .btn-header-link.collapsed {
            background: #ffffff;
            color: #333333;
        }

        #locationmain #location .card .card-header .btn-header-link.collapsed:after {
            content: "+";
        }

        #locationmain #location .card .collapsing {
            background: #ffffff;
            line-height: 30px;
        }

        #locationmain #location .card .collapse {
            border: 0;
        }

        #locationmain #location .card .collapse.show {
            background: #ffffff;
        }

        #locationmain #location .card .card-body {
            font-size: 1.25em;
            line-height: 1.5em;
        }

        #locationmain #location .card .card-body ul {
            padding: 0;
            margin-bottom: 0;
        }

        #locationmain #location .card .card-body li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .section8 {
            background: #012C2C;
            padding-top: 3.563em;
            background: url(../images/parallax2.jpg);
            background-attachment: fixed;
        }

        .section8_desc {
            line-height: 1.556em;
            max-width: 70%;
            font-size: 1.250em;
            margin: 0 auto;
            font-weight: 400;
            display: block;
            padding: 1em 0 2.778em;
        }

        .section9 {
            padding-top: 6.250em;
        }

        .contact_img {
            text-align: right;
        }

        .contact_img img {
            max-width: 51.563em;
            width: 100%;
        }

        .contact_form_section {
            /*padding-top: 3.438em;*/
            padding-left: 5.313em;
        }

        .section9_desc {
            font-size: 1.125em;
            padding: 1.389em 0 2em;
        }

        form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .form_width {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 48%;
            flex: 0 0 48%;
            max-width: 48%;
            padding: 0 15px;
            padding: 0;
            margin-bottom: 2em;
            position: relative;
        }

        .form_width_full {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 15px;
            padding: 0;
            margin-bottom: 2em;
            position: relative;
        }

        .form_width span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.3s ease-in-out;
            font-size: 1.125em;
            font-weight: 400;
            color: #333333;
            letter-spacing: 0.16px;
            transition: 0.3s ease-in-out;
            z-index: 0;
            width: 93%;
            text-transform: capitalize;
        }

        .form_width .form-control, .form_width select.form-control:not([size]):not([multiple]) {
            height: 3em;
            background: transparent;
            z-index: 2;
            position: relative;
        }

        .submit_btn {
            padding-top: 1em;
        }

        .form-control {
            padding: 0 0.625em;
            font-size: 1.125em;
            font-weight: 400;
            border: none;
            border-bottom: 1px solid #ADADAD;
            border-radius: 0;
            color: #333333;
            letter-spacing: 0.16px;
            box-shadow: none;
            margin-bottom: 5px;
        }

        .form-control:focus {
            padding: 0 0.625em;
            font-size: 1.125em;
            font-weight: 400;
            border: none;
            border-bottom: 1px solid #D2A951;
            border-radius: 0;
            color: #333333;
            letter-spacing: 0.16px;
            box-shadow: none;
            margin-bottom: 5px;
        }

        .form_width .form-control:focus,
        .form_width .form-control:valid,
        .form_width .form-control:visited {
            border-bottom: 1px solid #D2A951;
        }

        .form_width .form-control:focus ~ span,
        .form_width .form-control:valid ~ span,
        .form_width .form-control:visited ~ span {
            font-size: 0.75em;
            top: -30%;
            transform: translateY(0%);
            transition: 0.3s ease-in-out;
            color: #9C7B52;
        }

        .form_cta,
        .form_cta:hover {
            color: #F0F0F0;
            background: #9C7B52;
            border: none;
            display: inline-block;
            font-size: 1.25em;
            padding: 0.900em 3em;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s ease;
            text-decoration: none;
            position: relative;
            text-transform: uppercase;
        }

        .form_cta:before {
            transition: 0.5s ease;
            content: '';
            position: absolute;
            top: 0;
            border-radius: 5px;
            left: 0;
            width: 0%;
            height: 100%;
            background: #d2a95c;
        }

        .form_cta:hover:before {
            transition: 0.5s ease;
            content: '';
            position: absolute;
            border-radius: 5px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #d2a95c;
        }
        .form_cta span {
            position: relative;
            z-index: 2;
        }

        /*.form_cta:hover {
            color: #9C7B52;
            background: #F0F0F0;
            border: 1px solid #9C7B52;
            transition: 0.3s ease;
            text-decoration: none;
        }*/

        .contact_details {
            box-shadow: 1px 0px 12px #0000001c;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .contact_details {
            box-shadow: 1px 0px 12px #0000001c;
            padding-left: 6.250em;
            margin-top: 4.375em;
        }

        .contact_details {
            box-shadow: 1px 0px 12px #0000001c;
            padding: 1.688em;
            padding-left: 6.250em;
            margin-top: 4.375em;
        }

        .contact_detail {
            font-size: 1.125em;
            color: #2C343C;
            margin-bottom: 1.556em;
            display: flex;
            align-items: flex-start;
        }

        .contact_detail a {
            color: #2C343C;
        }

        .contact_detail img {
            /*padding-top: 5px;*/
            padding-right: 10px;
        }

        .see_map a {
            font-size: 1em;
            color: #3B434D;
            text-decoration: underline;
            padding-top: 0.625em;
            padding-left: 1.250em;
        }

        footer {
            text-align: center;
            background: #9C7B52;
            padding: 1em;
            color: #ffffff;
        }

        footer a,
        footer a:hover {
            color: #ffffff;
        }

        .sticky_box {
            position: fixed;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
            z-index: 9;
        }

        .top_cta {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            margin-top: 12.50em;
        }

        .top_cta a {
            display: inline-block;
            margin:0.325em 0;
            padding: 0.625em;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background: #333333;
            color: #ffffff;
        }

        .top_cta a img {
            max-width: 1.875em;
            width: 100%;
        }

        .top_cta a.scrolls {
            text-transform: uppercase;
            writing-mode: vertical-rl;
            background: #333333;
            color: #ffffff;
            padding: 1.818em 0.455em;
            /*border-top-right-radius: 10px;*/
            /*border-bottom-right-radius: 10px;*/
            font-size: 1.325em;
            letter-spacing: 0.88px;
            text-decoration: none;
        }

        a.scrolls.enquiresticky span {
           transform: rotate(-180deg);
           display: inline-block;
        }

        .whatsapp_cta {
            margin-right: 1.875em;
            margin-bottom: 3.125em;
        }

        .whatsapp_cta img {
            max-width: 4.375em;
        }

        .modal-dialog {
            max-width: 34.375em;
            margin: 1.75rem auto;
        }

        .modal-body {
            padding: 1.563em;
        }

        .modal-content {
            border-radius: 10px;
            border: none;
        }

        .modal-header {
            flex-wrap: wrap;
            justify-content: center;
            padding: 1.250em;
            border: none;
        }

        .modal-title {
            color: #333333;
            font-size: 2.500em;
            font-family: 'PlayfairDisplay', serif;
            margin-bottom: 0.250em;
        }

        .modal-desc {
            font-size: 1.125em;
            line-height: 1.667em;
        }

        .modal-header .close {
            padding: 1rem;
            margin: -1rem -1rem -1rem auto;
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 3em;
            color: #333333;
            opacity: 1;
            font-weight: 100;
        }

        .ajaxsuccess,
        .modal_ajaxsuccess {
            color: #9c7b52;
            font-size: 1em;
            margin-top: 1em;
        }

        .mobile_sticky_box {
            display: none;
        }
    /*============================
        Body CSS Ends Here   
    =============================*/


    @media(min-width:  1280px) {
        .floor_plan {
            height: 53.125em;
        }

        .zoom-image-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            display: block;
        }

        .zoom-image {
            /*position: relative;*/
        }

        .zoom-image img {
            cursor: none;
            border-radius: 5px;
            box-shadow: 0 18px 5px -15px rgba( 0, 0, 0, .5 );
        }

        .hover-image {
            position: fixed;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            transform: translate( -50%, -50% );
            pointer-events: none;
            box-shadow: 0 0 10px rgba( 0, 0, 0, .5 );
        }
    }

    @media(min-width: 2560px) {
        .section2:after {
            width: 25%;
        }

        .section9 {
            max-width: 2293.3px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 4em;
        }
    }

    @media(max-width: 1919px) {
        header {
            max-width: 84%;
        }

        .section2_desc {
            max-width: 90%;
        }

        .project_walkthrough_video iframe {
            height: 45em;
        }

        .floor_disclaimer {
            max-width: 83%;
        }

        .contact_img img {
            padding-left: 2em;
        }

        /*.section9 {
            padding-bottom: 3em;
        }*/
    }
    @media(max-width: 1440px) {}
    @media(max-width: 1366px) {}
    @media(max-width: 1280px) {}
/*============================
    Desktop CSS Ends Here   
=============================*/

/*================================
    Ipad/Mobile CSS Starts Here   
================================*/
    @media(max-width: 1194px) {}
    @media(max-width: 1024px) {}
    @media(max-width: 834px) {
        /*============================
            Header CSS Starts Here   
        =============================*/
            body {
                padding-top: 6em;
            }

            header {
                position: fixed;
                top: 0;
                right: 0;
                width: 100%;
                box-shadow: 0px 3px 6px #0000001c;
                max-width: 100%;
                margin-right: 0;
                margin-left: auto;
                border-bottom-left-radius: 0;
            }

            header .navbar {
                padding: 0em 1.5em;
                margin-right: 0;
            }

            .navbar-brand img {
                max-width: 3em;
            }

            .navbar-brand {
                padding-top: 0;
                padding-bottom: 0;
            }

            .nav-item {
                text-align: center;
                padding: 1.25em 0;
            }

            .phoneNumber {
                display: none;
            }

            .logo {
                display: none;
            }

            header .navbar-expand-lg .navbar-nav .nav-link {
                font-size: 1.5em;
            }

            .banner_title {
                text-align: center;
            }

            .bannertitleline1 {
                font-size: 1.60em;
            }

            .section1 {
                padding: 3em 0;
                letter-spacing: 0.32px;
            }

            .bannertitleline2 {
                font-size: 3.00em;
                letter-spacing: 1.2px;
                line-height: 1.333em;
                /*margin-bottom: 1em;*/
            }

            .top_banner {
                padding-bottom: 3.3em;
            }

            .banner_desc:before,
            .banner_desc:after {
                width: 100%;
            }

            .banner_desc {
                font-size: 1.60em;
                line-height: 1.786em;
                letter-spacing: 0.64px;
                padding: 0.625em 0;
            }

            .banner_address {
                font-size: 1.80em;
                line-height: 1.556em;
                letter-spacing: 1.28px;
                margin-top: 1.667em;
            }

            .scrolltosection2 a {
                color: #ffffff;
                margin-top: 1.260em;
                display: inline-block;
                font-size: 1.5em;
                line-height: 1;
            }

            .section2 {
                padding: 5em 0;
                position: relative;
            }

            .section2:after {
                content: none;
            }

            .page_subtitle {
                font-size: 1.40em;
                font-size: 1.20em;
                letter-spacing: 4.2px;
                text-align: center;
            }

            .page_subtitle img {
                max-width: 1em;
            }

            .page_title {
                font-size: 2.2em;
                font-family: 'PlayfairDisplay', serif;
                line-height: 1.333em;
                text-align: center;
            }

            .section2 .page_title {
                max-width: 100%;
            }

            .section2_flattype {
                font-size: 1.40em;
                letter-spacing: 1.4px;
                text-align: center;
                font-weight: 600;
                padding: 1em 0;
            }

            .section2_byline {
                font-family: 'PlayfairDisplay', serif;
                font-size: 2em;
                margin: 0.25em 0;
            }

            .section2_desc {
                font-size: 1.4em;
                font-weight: 400;
                line-height: 1.714em;
                margin: 0;
                max-width: 100%;
            }

            .section3 {
                padding: 3em 0 0 0;
                text-align: center;
                position: relative;
            }

            .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
                display: flex;
                align-items: end;
                justify-content: center;
                margin-bottom: 0px;
                direction: ltr;
                -ms-writing-mode: tb-lr;
                writing-mode: horizontal-tb;
                bottom: 0;
                transform: none;
                margin-left: 0;
            }

            .swiper-pagination-bullet {
                width: 0.375em;
                height: 0.375em;
                display: inline-block;
                border-radius: 100%;
                opacity: 1;
                transition: 0.3s ease;
                background: #D2A951;
            }

            .swiper-pagination-bullet-active {
                height: 0.375em;
                width: 9.563em;
            }

            .swiper-pagination-bullet-active {
                opacity: 1;
                border-radius: 10px;
                transition: 0.3s ease;
                background: #D2A951;
            }

            .panoramic_view_slider .swiper-container {
                padding-bottom: 3em;
            }

            .panoramic_view_slider {
                padding: 1.7em 0;
            }

            .section4 {
                padding: 3.5em 0 4.25em;
            }

            .project_walkthrough_video {
                margin-top: 1.9em;
            }

            .project_walkthrough_video iframe {
                height: 26em;
            }

            .playicon {
                max-width: 5.6em;
            }

            .section5:before {
                max-width: 100%;
                height: 70%;
            }

            .section5_desc {
                font-size: 1.40em;
                line-height: 1.714em;
                margin-top: 1em;
                max-width: 100%;
                padding-bottom: 1.429em;
                text-align: center;
            }

            .amenities_img {
                padding-top: 0;
                padding-bottom: 4.219em;
            }

            .amenities_data {
                position: relative;
            }

            .amenities_img_icon {
                bottom: 0;
            }

            .amenities_swiper.swiper-container {
                padding-bottom: 2em;
            }

            .section6 {
                margin: 4.5em 0 6em;
                padding: 3em 0 0.8em;
                background: url(../images/parallax.jpg);
                background-attachment: fixed;
                background: #e0f4f3;
            }

            .amenities_name {
                text-align: center;
                font-size: 1.60em;
                margin-top: 0;
                padding-bottom: 5px;
                color: #ffffff;
            }

            .download_floor_plan img {
                max-width: 2.1em;
            }

            .rera_number {
                position: relative;
                padding: 0;
                font-size: 1.4em;
                padding-bottom: 0.714em;
            }

            .floor_disclaimer {
                max-width: 100%;
                font-size: 1em;
                line-height: 1.5em;
            }

            .section7_desc {
                font-size: 1.40em;
                line-height: 1.7em;
                margin: 1.429em 0;
                text-align: center;
            }

            .viewgooglemaps {
                margin: 2.000em 0 3em;
                text-align: center;
            }

            .locationimg {
                text-align: center;
            }

            .viewgooglemaps a {
                font-size: 1.40em;
            }

            #locationmain #location .card .card-header .btn-header-link.collapsed:hover, 
            #locationmain #location .card .card-header .btn-header-link {
                color: #fff;
                display: flex;
                text-align: left;
                background: #9C7B52;
                padding: 8px 1.176em;
                font-size: 1.7em;
                position: relative;
                white-space: normal;
                line-height: 3.462em;
                height: 3.462em;
                align-items: center;
                line-height: 1.385em;
                justify-content: space-between;
                border-radius: 0;
                transition: 0.3s ease;
            }

            #locationmain #location .card .card-body {
                font-size: 1.3em;
                line-height: 1.5em;
            }

            .section8_desc {
                max-width: 100%;
                font-size: 1.4em;
                line-height: 1.714em;
            }

            .aboutusskyline {
                display: none;
            }

            .section9 {
                padding-top: 5em;
            }

            .contact_form_section {
                padding-left: 0;
                max-width: 80%;
                width: 100%;
                margin: 0 auto;
            }

            .contact_img img {
                display: none;
            }

            .section9_desc {
                font-size: 1.4em;
                padding: 1.429em 0 1.786em;
                text-align: center;
            }

            .form_width {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 15px;
                padding: 0;
                margin-bottom: 2em;
                position: relative;
            }

            .submit_btn {
                text-align: center;
            }

            .form_cta, .form_cta:hover {
                font-size: 1.6em;
            }

            .form-control:focus,
            .form_width span,
            .form-control {
                font-size: 1.6em;
            }

            .form_width .form-control:focus ~ span, 
            .form_width .form-control:valid ~ span, 
            .form_width .form-control:visited ~ span {
                font-size: 1.4em;
            }

            .contact_details {
                box-shadow: 1px 0px 12px #0000001c;
                padding: 2em 0;
                margin-top: 3em;
                margin-bottom: 2.5em;
                border-radius: 5px;
                max-width: 80%;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            .contact_detail {
                font-size: 1.4em;
            }

            .see_map a {
                font-size: 1.4em;
                color: #3B434D;
                text-decoration: underline;
                padding-top: 0.625em;
                padding-left: 1.850em;
            }

            .contact_detail img {
                /* padding-top: 5px; */
                padding-right: 15px;
                max-width: 2.143em;
            }

            .modal-title {
                font-size: 3em;
            }

            .modal-desc {
                font-size: 1.4em;
                line-height: 1.667em;
            }

            footer {
                font-size: 1.2em;
                margin-bottom: 3.500em;
            }

            .top_cta a {
                display: none;
            }

            .ajaxsuccess,
            .modal_ajaxsuccess {
                color: #9c7b52;
                font-size: 1.2em;
            }

            .sticky_box {
                display: none;
            }

            .mobile_sticky_box {
                display: block;
                text-align: center;
                position: fixed;
                left: 0;
                bottom: 0;
                z-index: 9;
                width: 100%;
            }

            .mob_sticky {
                box-shadow: 0px -3px 6px #5b5b5b17;
                background: #ffffff;
                padding: 1em 0;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                display: block;
            }

            .mob_sticky a:nth-child(2) {
                color: #333333;
                font-size: 1.4em;
                padding: 0 2.143em;
                margin: 0 2.143em;
                border-left: 1px solid #9c7b52;
                border-right: 1px solid #9c7b52;
            }

            .mobile_sticky_box {
            }

            .mobile_sticky_box .whatsapp_cta {
                text-align: right;
                margin: 0;
                padding-right: 1em;
                padding-bottom: 4em;
                position: absolute;
                right: 0;
                bottom: 50px;
            }

            .enqire_modal .form_width {
                /*margin-bottom: 1em;*/
            }

            .modal-body {
                /*padding-top: 0;*/
            }

            .navbar-nav {
                border-top: 1px solid #D2A951;
                margin-top: 1em;
            }
        /*============================
            Header CSS Ends Here   
        =============================*/
    }
    @media(max-width: 767px) {
        /*.sticky_box {
            display: none;
        }*/

        .contact_form_section,
        .contact_details {
            max-width: 100%;
        }

        .amenities_img_icon img {
            max-width: 7.438em;
        }
    }
    @media(max-width: 375px) {
        /*.sticky_box {
            display: none;
        }*/

        .banner_desc {
            font-size: 1.50em;
        }
    }
    @media(max-width: 320px) {
        .banner_desc {
            font-size: 1.30em;
        }
    }
/*================================
    Ipad/Mobile CSS Ends Here   
================================